NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_TALENT_PROJECT_VERIFICATION=

NEXT_PUBLIC_CELO_NETWORK=celo
NEXT_PUBLIC_HANDOFF_CELO_CONTRACT_ADDRESS=
NEXT_PUBLIC_HANDOFF_CELO_DEPLOYMENT_BLOCK=
NEXT_PUBLIC_HANDOFF_CELO_USDT_ADDRESS=0x48065fbbe25f71c9282ddf5e1cd6d6a887483d5e
NEXT_PUBLIC_CELO_MAINNET_RPC_URL=https://forno.celo.org
NEXT_PUBLIC_CELO_SEPOLIA_RPC_URL=https://forno.celo-sepolia.celo-testnet.org

PRIVATE_KEY=
CELO_MAINNET_RPC_URL=https://forno.celo.org
CELO_SEPOLIA_RPC_URL=https://forno.celo-sepolia.celo-testnet.org
CELO_USDT_ADDRESS_MAINNET=0x48065fbbe25f71c9282ddf5e1cd6d6a887483d5e
CELO_USDT_ADDRESS_SEPOLIA=0xd077A400968890Eacc75cdc901F0356c943e4fDb
HANDOFF_CELO_CONTRACT_ADDRESS_MAINNET=
HANDOFF_CELO_CONTRACT_ADDRESS_SEPOLIA=
ETHERSCAN_API_KEY=
CELOSCAN_API_KEY=

NEXT_PUBLIC_STACKS_NETWORK=mainnet
NEXT_PUBLIC_HANDOFF_STACKS_CONTRACT_ADDRESS=
NEXT_PUBLIC_HANDOFF_STACKS_CONTRACT_NAME=handoff-escrow
NEXT_PUBLIC_STACKS_SBTC_CONTRACT_ID=SM3VDXK3WZZSA84XXFKAFAF15NNZX32CTSG82JFQ4.sbtc-token
NEXT_PUBLIC_STACKS_API_MAINNET=https://api.hiro.so
NEXT_PUBLIC_STACKS_API_TESTNET=https://api.testnet.hiro.so

STACKS_PRIVATE_KEY=
STACKS_NETWORK=mainnet
STACKS_DEPLOY_FEE_MICROSTX=300000
HANDOFF_STACKS_CONTRACT_ID_MAINNET=
HANDOFF_STACKS_CONTRACT_ID_TESTNET=
